h2{
    text-align: center;
    color: lightcoral;
    text-decoration: underline;
}
ul{
    color: black;
}
.bold{
    ;
}
.import{
    font: large;
}
.projects{
    background-color: red;
}
img{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    }